body{
    text-align: center;
}

textarea{
    width: 32%;
    height: 250px;
    overflow: scroll;
    display: inline-block;
    background: rgb(57, 25, 130);
    color: white;
    border: 2px solid blue;
}

iframe{
    position: relative;
    width: 100%;
    height:200px;
    overflow: scroll;  
    background: rgb(110, 94, 149);
}

span{
   text-align:right;
}

#y{
    display: none;
}
